<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Help Desk</title>
</head>
<body>
  {% comment %} {% block main %} {% include "nav_bar.html" with nav_location=view.location %} {% endblock main %} {% endcomment %}
  <h1>Welcome to Help Desk!</h1>
  {% if user.is_authenticated %}
    <h1>{{ user.username }}!</h1>
    <form action="/chat/helpdesk">
      <input type="submit" value="Enter!" />
    </form>
    {% else %}
    {% include "login.html" %}
    {% endif %}

</body>

</html>
</body>
</html>
