{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="">
    <meta charset="utf-8"/>
    <title>Help Desk</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  {% comment %}

  This Area checks To see if the user is authenticated, and if so it renders the
  Help desk room and opens a websocket connection to the server and adds the user to
  a list of online users, and populates a list of other online users for them to view

  {% endcomment %}

  {% if user.is_authenticated %}
    <div class="helpdesk">
      <div class='heading'>
      <h1> Welcome To Help Desk, {{user.username}}!</h1>
      </div>
      <form action="{% url 'logout' %}" class="logout">
        <input type="submit" value="logout" />
      </form>
    </div>


    <div class="boxes">
      <div class="users" id="users">
        <div class='user-head'>
        <h3>Online Students</h3>
        </div>
          {% for usernames in online_users %}
          <p>{{ usernames.username }}</p>
          {% endfor %}
      </div>
      <div class='tickets' id="chat-log">
        {% for issue in issues %}
        <div class="issue" id ="{{ issue.pk }}">
          {{issue.user}}: {{issue.issue_desc}}
          {% if user.username == issue.user.username %}

          <button id='{{ issue.pk }}' onclick="solved(this.id)" class='solved'>
            Solved
          </button>
          {% endif %}
        </div>
        {% empty %}
         <div class="empty">
           <h3 class="empty-h3">All the problems have been solved!</h3>
         </div>
        {% endfor%}
    </div>
  </div>

  <div class="input">
    <div class="foot_desc">
      Please type a description and press get help to get help! :
    </div>
    <div class="foot_inp">
    <input id="chat-message-input" name='issue' type="text" size="100"/><br/>
    <button id="chat-message-submit" class="button" disabled="disabled">Get Help</button>
    </div>
  </div>
    {% else %}
    {% include "login.html" %}
    {% endif %}
</body>

<script>
  // make a variable of the name of the room
    var roomName = {{ room_name_json }};

  // make a variable that starts a new websocket with the room name
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

  // make a variable of a websocket with the username
  // this is not currently being used in the program but might be in the future
    var userSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

  // function to handle when a message goes to the websocket
  // recieves the data, parses it, and then uses logical operators to determin the nature of the message
  // and complete actions based on the type of the message
    chatSocket.onmessage = function(e) {
      var data = JSON.parse(e.data);
      var message = data['message'];
      let type = data['message']['type']
      if (type === "message"){
           location.reload()
          }
      else if (type === "solved"){
        document.getElementById(message['message']).remove()
      }
    };

  // warning message when the websocket closes unexpectedly
    chatSocket.onclose = function(e) {
        console.log('Chat socket closed unexpectedly');
    };

  // this deactivates the submit button if nothing has been entered, and also allows
  // the user to submit the ticket by pressing enter instead of clicking on the submit button
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        let inputfield = document.querySelector('#chat-message-input').value
          let empty = false
        if (inputfield !== ''){
        document.querySelector('#chat-message-submit').removeAttribute("disabled")
        }
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

  // function to handle the submission action. sends the message to the chat socket along with relavent
  // information and also handles a json post request to the django side that is handling all the data
    document.querySelector('#chat-message-submit').onclick = function(e) {
      document.querySelector('#chat-message-submit').setAttribute("disabled","disabled")
      var messageInputDom = document.querySelector('#chat-message-input');
      var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
          'message': {
            'user': `{{ user.username }}`,
            'message': message,
            'type': 'message'
          }
        }));


      fetch('/chat/helpdesk', {
        method:"POST",
        body: JSON.stringify({
          'issue': message,
          'action': 'save'
         }),
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken,
          'X-Requested-With': 'XMLHttpRequest'
        }
      })
      messageInputDom.value = '';
    };

  //  function to handle cookies so that you have a csrf token to make sure that submissions are secure
  //  the way csrf tokens are saved in cookies is not the way django wants them so it does some tidying up
  //  as well
  function getCookie(name) {
          if (!document.cookie) {
            return null;
          }
          const token = document.cookie.split(';')
            .map(c => c.trim())
            .filter(c => c.startsWith(name + '='));

          if (token.length === 0) {
            return null;
          }
          return decodeURIComponent(token[0].split('=')[1]);
        }

  const csrftoken = getCookie('csrftoken')

  // handles the deletion of solved issues, checks to make sure that only users that submitted
  // that particular issue can mark them solved.
  let solved = (id) => {
      fetch('/chat/helpdesk', {
      method:"POST",
      body: JSON.stringify({
        'action': 'solved',
        'id': id
        }),
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken,
        'X-Requested-With': 'XMLHttpRequest'
      }
    })
    // document.getElementById(id).remove()
    chatSocket.send(JSON.stringify({
      'message': {
        'message': id,
        'type': 'solved'
      }
    }))
 }

</script>
</html>
