body {
  background-color: teal;
  margin: 0;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.users, .tickets {
  border: 2px solid black;
  padding: 10px;
  width: fit-content;
  float: left;
  overflow-y: auto;
  border-radius: 8px;
  margin: 8px;
  background-color: lightblue;
}

.tickets {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.issue {
  margin: 3px;
  border-bottom: 1px solid black;
}

.button{
  margin: 8px;
}

.input{
  background-color: lightblue;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin: 0px 8px 0px 8px;
}
.foot_desc{
  text-align: center;
  margin: 8px;
}

.foot_inp{
  display: flex;
  justify-content: center;
}

#chat-message-submit{
  align-items: flex-end;
}
#chat-message-input{
  margin: 8px;
  display: inline;
}

.boxes {
  display: flex;
  height: 100%;
  align-items: stretch;
  overflow-y: auto;
  width; 100%;
}

.solved{
  margin: 5px;
  float: right;
}

.helpdesk{
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-bottom: 8px;
  padding-left: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: 0px 8px 0px 8px;
  padding: 16px;
}

.user-head{
  border-bottom: 1px solid black;
  padding-bottom: 8px;
  text-align: center;
}

.empty{
  flex-grow: 1;
  display: flex;
  align-content: center;
  justify-content: center;
}

h3{
  margin: 0px;
}

.logout {
  align-self: center;
}

.heading{
  align-self: center;

}

hr {
  margin-top: 0px;
}
