<form id="login_form" method="post" action="{% url 'login' %}">
        {% comment %} This weird input hides the variable that holds a redirect path when the login form is submitted. {% endcomment %}
        <input type="hidden" name="next" value="{{ next }}"/>
        {% csrf_token %} Username:
        <input type="text" name="username" value="" size="50" />
        <br /> Password:
        <input type="password" name="password" value="" size="50" />
        <br />

        <input id="submit" type="submit" value="submit" />
    </form>
